*{
    padding: 0;
    margin: 0;
    
}
 #home{
   width: 100%;
   height: 100vh;
   background: rgb(7, 4, 46);
   color: white;
   
} 
.nav{  
   
   width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 85px;
}
.nav .logo{
    width: 30%;
    font-size: 40px;
    text-align: center;  
}
.nav .navbar {
    width: 50%;
    }
    .nav .navbar ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

.nav .navbar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  
    
 
    
    
}
.nav .navbar li {
    list-style: none;
    padding: 8px; 
}
/* .nav .navbar li:hover {
    border-radius: 5px;
    border: 2px solid white;
    
} */

.feature_box{
    display: flex;
    justify-content: center;
    padding: 45px 0;
    width: 100%;
    height: 100%;
  
}
.features{
text-align: center;
}

.features .imgg img{
   width: 230px;
}
.features h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 3px 0px;
}

.features p{
   
    font-size: 20px;
    padding: 3px 0px;
}
.features .icons{
    padding: 3px 0px;
    
}
.features .icons i{
    font-size: 25px;
    padding: 10px 15px;
}
.features .button{
    padding: 10px 0px;
}
.features .button button{
    padding: 10px 42px;
    border-radius: 30px;
    background: rgb(254, 0, 0);
    color: white;
    font-weight: bold;
    
}



/* about */
#about{
    width: 100%;
    
    background: rgb(7, 4, 46);
    height: 100vh;
}
#about .text{
    padding: 20px;
}
#about h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.about_main{
    width: 80%;
    margin: 50px auto ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}
.about_left img{
    width: 300px;
    border-radius: 10px;
}
.about_right {
    flex-basis: 55%;
    color: white;
    background: rgb(11, 7, 63);
   border: 10px solid white;
   border-radius: 10px;
   
  }
.about_left{
    flex-basis:20%;
    margin: auto;

}
.features_desc{
    display: flex;
    align-items: center;
    
    border: 3px solid white;
    
    padding: 35px;
     }
     .features_icon .fa{
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        border-radius: 8px;
        color: #009688;
        border: 1px solid #009688;
    }
    .features_text p{
        padding: 0 20px;
        font-weight: bold;
        text-align: initial;
        }
        @media screen and (max-width: 770px) {
            .about_main{
                width: 90%; 
                display: block; 
            } 
            .about_left img{
                width: 240px;
            }
            .navbar{
                display: none;
            }
             .about_right {
               border: 5px solid white;
               border-radius: 5px; 
              } 
              #about{
                height: 140vh;    
            }
        }

        /* myprojects  */
        #myprojects{
            width: 100%;
            
            background: rgb(7, 4, 46);
            height: 100vh;
        }
        #myprojects h1{
            text-align: center;
            font-size: 50px;
            color: white;
        }
        .project_main{
            margin: 50px auto ;
            width: 100%;
            height: 600px;
            /* background: white; */
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
        }
        #myprojects .text{
            padding: 20px;
        }
        .one ,.two ,.three  {
            flex-basis: 20%;
            /* background: green; */
            height: 380px;
            border-radius: 10px;
            text-align: center;
            padding: 20px 0;
        }
        .one img, .two img, .three img{
            width: 230px;
            margin: 30px auto;
        }
        .one #git, .two #git, .three #git{
         margin: 0 10px;
            width: 40%;
            background: blue;
            color: white;
            cursor: pointer;
            padding: 5px 0;
            border-radius: 10px;
            transition: 0.4s;
        }
        .one #git:hover, .two #git:hover, .three #git:hover{
            
               background: black;
               color: white;    
           }
        .one #see, .two #see, .three #see{  
            margin: 0 10px;
            width: 40%;
            background: crimson;
            color: white;
            cursor: pointer;
            padding: 5px 0;
            border-radius: 10px;
            transition: 0.4s;
        }
        .one #see:hover, .two #see:hover, .three #see:hover{
        background: blueviolet;
        color: white;
        }
        .one{
            background: lightblue;
        }
        .two{
            background: yellow;
        }
        .three{
            background: pink;
        }
/* certificates */
/* myprojects  */
#certificates{
    width: 100%;
    background: rgb(7, 4, 46);
    height: 100vh;
}
#certificates h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.certificates_main{
    margin: 50px auto ;
    width: 100%;
    height: 600px;
    /* background: white; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
#certificates .text{
    padding: 20px;
}
.one ,.two ,.three  {
    flex-basis: 20%;
    /* background: green; */
    height: 380px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}
.one img, .two img, .three img{
    width: 230px;
    margin: 30px auto;
}
.one #git, .two #git, .three #git{
 margin: 0 10px;
    width: 40%;
    background: blue;
    color: white;
    cursor: pointer;
    padding: 5px 0;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.4s;
}
.one #git:hover, .two #git:hover, .three #git:hover{ 
     background: black;
       color: white;   
   }
.one #see, .two #see, .three #see{
    margin: 0 10px;
    width: 40%;
    background: crimson;
    color: white;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 10px;
    transition: 0.4s;
    border: 3px solid black;
}
.one #see:hover, .two #see:hover, .three #see:hover{
    background: blueviolet;
    color: white;
}
.one{
    background: lightblue;
}
.two{
    background: yellow;
}
.three{
    background: pink;
}



